* {
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

section, img {
    width: 45vw;
    max-width: 256px;
}


.campos {
    display: flex;
    flex-direction: column;
}

/* MEDIA QUERIE PRA SUMIR COM IMAGEM E DEIXAR O FORM 100vw na width */